########################################## GENERAL ##########################################
SERVER_HOST=http://127.0.0.1:8000/
DEBUG=1
COMPOSE_PROJECT_NAME=face-detection
CONTAINER_PREFIX=face_detection
APP_PORT=8010
APP_BIND_IP=127.0.0.1


########################################## JWT ##########################################
JWT_SECRET_KEY=JWT_SECRET_KEY


########################################## REDIS ##########################################
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

########################################## QDRANT ##########################################
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_TIMEOUT=5
QDRANT_CONNECT_RETRIES=30
QDRANT_RETRY_DELAY=1

########################################## S3 STORAGE ##########################################
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_BUCKET_NAME=AWS_BUCKET_NAME
AWS_REGION_NAME=eu-north-1

